<!DOCTYPE HTML>
{% extends 'base.html' %}
<html>
{% block page_content %}
<div class="main-container container clearfix">
  <div class="content panel" id="content">
    <div class="node">
      <h2>添加传感器</h2>
      <div class="node-form add-form">
        <form action="" method="post">
            {{form.hidden_tag()}}

              <div class="form-group">
                <label>传感器名字</label>
                {{form.sensors_name(class="form-control",placeholder="传感器名字")}}
              </div>
              <div class="form-group">
                <label>传感器描述</label>
                {{form.sensors_description(class="form-control",placeholder="传感器描述")}}
              </div>
              <div class="form-group">
                <label>传感器单位</label>
                {{form.sensors_unit(class="form-control",placeholder="传感器单位")}}
              </div>
              <div class="form-btn text-center">
                <button type="submit" class="btn btn-default btn-submit">{{form.submit.label}}添加{{form.submit}}</button>
              </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}

</body>
</html>