<!DOCTYPE HTML>
<html>
{% extends 'base.html' %}

{% block page_content %}
<div class="main-container container clearfix">
  <div class="content panel" id="content">
    <div class="node">
      <h2>添加设备</h2>
      <div class="node-form add-form">
        <form action="" method="post">
          {{form.hidden_tag()}}
          <div class="form-group">
                {{form.device_name(class="form-control",placeholder="设备名字")}}
          </div>
          <div class="form-group">
                {{form.device_description(class="form-control",placeholder="设备描述")}}
          </div>
          <div class="form-group">
                {{form.device_address(class="form-control",placeholder="设备地址")}}
          </div>
          <div class="form-btn text-center">
            <button type="submit" class="btn btn-default btn-submit">{{form.submit.label}}添加{{form.submit}}</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}

</body>
</html>