<!DOCTYPE HTML>
<html>


<div class="main-container container clearfix">
  <div class="charts">
    <h2>设备：北京尚观周末班只能家居控制系统</h2>
    <p>传感器：设备位置</p>

    <div id="ditu" style="width: 1000px;height:715px;"></div>
  </div>

  <div class="data cgq-data">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="data-list">
          <div class="data-top clearfix">
            <div class="data-title left">数据（经度）</div>
            <div class="data-title left">数据（纬度）</div>
            <div class="data-title right">时间</div>
          </div>
          <ul>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="data-list">
          <div class="data-top clearfix">
            <div class="data-title left">数据（经度）</div>
            <div class="data-title left">数据（纬度）</div>
            <div class="data-title right">时间</div>
          </div>
          <ul>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
            <li class="clearfix">
              <div class="left">17.0 %</div>
              <div class="left">17.0 %</div>
              <div class="right">2018-01-21 03:18:59</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>




<script src="../../../../static/js/echarts.min.js"></script>
<script src="../../../../static/js/china.js"></script>
<script src="../../../../static/js/ditu.js"></script>

</body>
</html>